body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;

  margin: 0 auto;
}

.titulo{
  text-align: center;
  font-size: 40px;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

main {
  margin-top: 20px;
}

.products {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.products ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.products li {
  text-align: center;
  margin-bottom: 20px;
  max-width: 500px;

}

.products li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.products li img {
  width: 300px;
  height: auto;
}



.product-carousel {
  width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.product {
  width: 850px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product img {
  width: 100%;
  height: 350px;
}

.product h3 {
  text-align: center;
}

.product p {
  text-align: center;
}

.about {
  padding: 20px;
  background-color: #fff;
}

.about h2 {
  text-align: center;
}

.about p {
  text-align: justify;
}

.contact {
  padding: 20px;
  background-color: #fff;
}

.contact h2 {
  text-align: center;
}

.contact p {
  text-align: justify;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  text-align: left;
}

.contact-info p {
  margin-bottom: 10px;
}